@model Zamiux.Web.ViewModels.Home.SliderViewModel
<header class="header creative wave valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="@(PathExtension.UserBackgroundContentOrgin+Model.UserBackground)" data-stellar-background-ratio="0.5">

    <!-- particles -->
    <div id="particles-js"></div>

    <div class="container">
        <div class="row">
            <div class="full-width text-center caption mt-30">
                <h4>خوش آمدید</h4>
                <h1>من @Model.Fullname هستم</h1>
                <p>
                    
                    @if (Model.intros != null)
                    {
                        foreach (var userIntro in Model.intros)
                        {
                            <span>@userIntro.IntroTitle</span>
                        }    
                    }

                </p>
            </div>
        </div>
    </div>
</header>