<header class="header creative wave valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="zamiux/img/bg5.jpg" data-stellar-background-ratio="0.5">

    <!-- particles -->
    <div id="particles-js"></div>

    <div class="container">
        <div class="row">
            <div class="full-width text-center caption mt-30">
                <h4>خوش آمدید</h4>
                <h1>من جان اسنو هستم</h1>
                <p><span>طراح UI / UX</span><span>طراح وب</span><span>عکاس</span></p>
            </div>
        </div>
    </div>
</header>