@model Zamiux.Web.ViewModels.Home.HeroViewModel
<section class="hero section-padding" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="col-lg-5">
                <div class="hero-img">
                    <img src="@(PathExtension.UserProfileContentOrgin + Model.UserProfilePic)" alt="Mohsen Zamani">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="content">
                    <h5>درباره من</h5>
                    <span class="sub-title">
                        @for (int i = 0; i < Model.userIntros.Count(); i++)
                        {
                            if (i == Model.userIntros.Count() - 1)
                            {
                                <span>@Model.userIntros[i].IntroTitle</span>
                            }
                            else
                            {
                                <span>@Model.userIntros[i].IntroTitle</span>
                                <span>،</span>
                            }

                        }
                    </span>
                    <p style="text-align:justify">@Model.UserDesc<p>
                    <a onclick="ResumeCounter()" target="_blank" href="/zamiux/content/resume/mohsen_zamani.pdf" class="butn butn-light mt-30">
                        <span>دریافت رزومه</span>
                    </a>
                    <a href="#0" class="butn butn-bg mt-30" data-scroll-nav="7">
                        <span>درخواست مشاوره</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


    <script>
        function ResumeCounter()
        {
            $.get('/Home/Counter/').then(res => {
                if (res.status === 'success') {
                 //   alert('Downloaded!!');
                }
            });
        }
    </script>
