@model Zamiux.Web.ViewModels.Home.SiteHeaderViewModel

<!DOCTYPE html>
<html lang="fa">

<head>
    <!-- Metas -->
    <partial name="_Meta"></partial>
    <!-- Title  -->
    <title>@ViewData["Title"] - Zamiux</title>
    <partial name="_HeaderRefrences"></partial>
    @await RenderSectionAsync("styles", false)
</head>

<body>
    <!-- =====================================
    ==== Start Loading -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!-- End Loading ====
    ======================================= -->
    <!-- =====================================
    ==== Start Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">                   
            @await Component.InvokeAsync("MenuHeader")
        </div>
    </nav>
    <!-- End Navbar ====
    ======================================= -->
    @RenderBody()
    <!-- =====================================
    ==== Start Footer -->
    <footer class="text-center">
        <div class="container">
            <!-- Logo -->
            <a class="logo mb-10" href="#">                
                <img src="/zamiux/img/logo-light.png" alt="logo">
            </a>
            @await Component.InvokeAsync("FooterSocial")          
        </div>
    </footer>
    <!-- End Footer ====
    ======================================= -->
    <!-- jQuery -->
    <partial name="_FooterRefrences"></partial>
    @await RenderSectionAsync("scripts", required: false)

    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            alert('@TempData["SuccessMessage"]');
        </script>
    }
</body>
</html>
