<div class="widget">
	<div class="widget-title">
		<h6>مطالب اخیر</h6>
	</div>
	<ul>
		<li><a href="#0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></li>
		<li><a href="#0">صنعت چاپ و با استفاده از طراحان</a></li>
		<li><a href="#0">چاپگرها و متون بلکه روزنامه و مجله</a></li>
		<li><a href="#0">تکنولوژی مورد نیاز و کاربردهای متنوع</a></li>
		<li><a href="#0">بهبود ابزارهای کاربردی</a></li>
	</ul>
</div>