@{
    ViewData["Title"] = "Post";
}

<!-- ====== Header ======  -->
<section id="home" class="min-header">

	<div class="v-middle mt-30">
		<div class="container">
			<div class="row">

				<div class="text-center col-md-12">
					<h5>مطلب استاندارد با تصویر</h5>
					<a href="main.html">خانه</a>
					<a href="blog.html">بلاگ</a>
					<a href="#0">لورم ایپسوم متن</a>
				</div>

			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</section>
<!-- ====== End Header ======  -->
<!--====== Blog ======-->
<section class="blogs section-padding">
	<div class="container">
		<div class="row">

			<div class="col-md-8">
				<div class="posts">

					<div class="post mb-80">
						<div class="post-img">
							<a href="#0" class="full-width">
								<img src="/zamiux/img/blog/1.jpg" alt="">
							</a>
						</div>
						<div class="content">
							<div class="post-meta">
								<div class="post-title">
									<h5>
										<a href="#0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
									</h5>
								</div>
								<ul class="meta">
									<li>
										<a href="#0">
											<i class="fa fa-user" aria-hidden="true"></i>
											مدیر
										</a>
									</li>
									<li>
										<a href="#0">
											<i class="fa fa-folder-open" aria-hidden="true"></i>
											طراحی
										</a>
									</li>
									<li>
										<a href="#0">
											<i class="fa fa-calendar" aria-hidden="true"></i>
											18 آبان 1397
										</a>
									</li>
									<li>
										<a href="#0">
											<i class="fa fa-tags" aria-hidden="true"></i>
											طراحی، وب‌سایت، راست‌چین
										</a>
									</li>
									<li>
										<a href="#0">
											<i class="fa fa-comments" aria-hidden="true"></i>
											0 دیدگاه
										</a>
									</li>
								</ul>
							</div>

							<div class="post-cont">
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری</p>
								<p class="spical">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی</p>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی</p>
							</div>

							<div class="share-post">
								<span>به اشتراک گذاری</span>
								<ul>
									<li><i class="fab fa-facebook"></i></li>
									<li><i class="fab fa-twitter"></i></li>
									<li><i class="fab fa-telegram"></i></li>
									<li><i class="fab fa-youtube"></i></li>
								</ul>
							</div>

						</div>
					</div>

					<div class="comments-area mb-80">
						<div class="title-g mb-50">
							<h3>دیدگاه ها</h3>
						</div>

						<div class="comment-box">
							<div class="author-thumb">
								<img src="/zamiux/img/blog/01.png" alt="">
							</div>
							<div class="comment-info">
								<h6><a href="#0">جان اسنو</a></h6>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>

								<div class="reply">
									<a href="#0">
										<i class="fa fa-reply" aria-hidden="true"></i>
										پاسخ
									</a>
								</div>
							</div>
						</div>

						<div class="comment-box">
							<div class="author-thumb">
								<img src="/zamiux/img/blog/02.png" alt="">
							</div>
							<div class="comment-info">
								<h6><a href="#0">جان اسنو</a></h6>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>

								<div class="reply">
									<a href="#0">
										<i class="fa fa-reply" aria-hidden="true"></i>
										پاسخ
									</a>
								</div>
							</div>
						</div>

						<div class="comment-box">
							<div class="author-thumb">
								<img src="/zamiux/img/blog/01.png" alt="">
							</div>
							<div class="comment-info">
								<h6><a href="#0">جان اسنو</a></h6>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>

								<div class="reply">
									<a href="#0">
										<i class="fa fa-reply" aria-hidden="true"></i>
										پاسخ
									</a>
								</div>
							</div>
						</div>

					</div>

					<div class="comment-form">
						<div class="title-g mb-50">
							<h3>دیدگاه خود را بیان کنید</h3>
						</div>

						<form class="form" id="comment-form" method="post" action="">

							<div class="controls">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input id="form_name" type="text" name="name" placeholder="نام" required="required">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input id="form_email" type="email" name="email" placeholder="ایمیل" required="required" dir="ltr">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<textarea id="form_message" name="message" placeholder="متن دیدگاه" rows="4" required="required"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-center">
										<button type="submit" class="butn butn-bg"><span>ارسال دیدگاه</span></button>
									</div>
								</div>

							</div>
						</form>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="side-bar">
					<div class="widget search">
						<form>
							<input type="search" name="" placeholder="جستجو ...">
							<button type="submite"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>

					@await Component.InvokeAsync("LastBlog")

					@await Component.InvokeAsync("LastComment")

					@await Component.InvokeAsync("BlogCategory")

				</div>
			</div>

		</div>
	</div>
</section>
<!--====== End Blog ======-->