
<section class="blog section-padding" data-scroll-index="5">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>بلاگ ما</h4>
                <h6>آخرین اخبار</h6>
            </div>

            <div class="col-lg-4">
                <div class="item text-center mb-md50">
                    <div class="post-img">
                        <div class="img">
                            <img src="/zamiux/img/blog/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="#0">توسط : مدیر</a>
                            <a href="#0">18 آبان 1397</a>
                            <a href="#0">طراحی</a>
                        </div>
                        <h6><a href="#0">لورم ایپسوم متن ساختگی با</a></h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item text-center mb-md50">
                    <div class="post-img">
                        <div class="img">
                            <img src="/zamiux/img/blog/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="#0">توسط : مدیر</a>
                            <a href="#0">18 آبان 1397</a>
                            <a href="#0">طراحی</a>
                        </div>
                        <h6><a href="#0">لورم ایپسوم متن ساختگی با</a></h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item text-center">
                    <div class="post-img">
                        <div class="img">
                            <img src="/zamiux/img/blog/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="#0">توسط : مدیر</a>
                            <a href="#0">18 آبان 1397</a>
                            <a href="#0">طراحی</a>
                        </div>
                        <h6><a href="#0">لورم ایپسوم متن ساختگی با</a></h6>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
