<section class="works section-padding" data-scroll-index="3">
    <div class="container-fluid">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>نمونه‌کارهای خلاقانه</h4>
                <h6>پروژه های اخیر</h6>
            </div>

            <!-- filter links -->
            <div class="filtering text-center mb-30 col-sm-12">
                <div class="filter">
                    <span data-filter="*" class="active">همه</span>
                    <span data-filter=".brand">برند</span>
                    <span data-filter=".web">طراحی</span>
                    <span data-filter=".graphic">گرافیک</span>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div class="gallery text-center full-width">

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items graphic">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/1.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/1.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items web">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/2.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/2.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/3.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/3.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items graphic">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/4.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/4.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items web">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/5.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/5.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/6.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/6.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items brand">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/7.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/7.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-3 col-md-6 items graphic">
                    <div class="item-img">
                        <img src="/zamiux/img/portfolio/8.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info full-width vertical-center">
                                <p>لوگو و برندسازی</p>
                                <h6>طراحی خلاقانه</h6>
                                <a href="/zamiux/img/portfolio/8.jpg" class="popimg">
                                    <span class="icon icon-basic-eye"></span>
                                </a>
                                <a href="#0">
                                    <span class="icon icon-basic-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
