@model Zamiux.Web.ViewModels.Ability.CreateUserAbilityViewModel
@{
    ViewData["Title"] = "توانمندی جدید";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

<div class="am-pagetitle">
    <h5 class="am-title">اطلاعات هویتی > @ViewData["Title"]</h5>
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">
        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">@ViewData["Title"]</h6>
            <p class="mg-b-20 mg-sm-b-30">دراین قسمت می توانید توانمندی های جدیدی را درج کنید.</p>
            <div class="form-layout">
                <form method="post" asp-area="Admin" asp-controller="UserInfo" asp-action="Create_User_Ability">
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">عنوان: <span class="tx-danger" asp-validation-for="AbilityTitle">*</span></label>
                                <input class="form-control" type="text" asp-for="AbilityTitle">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">درصد پیشرفت: <span class="tx-danger" asp-validation-for="AbilityPercent">*</span></label>
                                <input class="form-control" type="text" asp-for="AbilityPercent">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">اولویت نمایش: <span class="tx-danger" asp-validation-for="AbilityPriority">*</span></label>
                                <input class="form-control" type="text" asp-for="AbilityPriority">
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-12">
                            <label class="ckbox">
                                <input asp-for="isActive" type="checkbox" checked=""><span>این توانمندی فعال باشد</span>
                            </label>


                        </div><!-- col-12 -->

                    </div><!-- row -->
                    <div class="form-layout-footer">
                        <input type="submit" value="ثپت اطلاعات" class="btn btn-success mg-r-5" />
                        <a asp-area="Admin" asp-controller="UserInfo" asp-action="User_Ability" class="btn btn-secondary">انصراف</a>
                    </div><!-- form-layout-footer -->
                </form>
            </div>

        </div>
    </div><!-- am-pagebody -->
</div><!-- am-mainpanel -->
