
<section class="testimonials carousel-single section-padding bg-img bg-fixed bg-center" data-overlay-dark="7" data-background="/zamiux/img/bg4.jpg">
    <div class="container">
        <div class="row">

            <div class="offset-lg-1 col-lg-10">

                <div class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <div class="client-img">
                            <img src="/zamiux/img/clients/1.jpg" alt="">
                        </div>
                        <div class="info">
                            <h6>بیل گیتس <span>مؤسس مایکروسافت</span></h6>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای</p>
                    </div>
                    <div class="item">
                        <div class="client-img">
                            <img src="/zamiux/img/clients/2.jpg" alt="">
                        </div>
                        <div class="info">
                            <h6>بیل گیتس <span>مؤسس مایکروسافت</span></h6>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای</p>
                    </div>
                    <div class="item">
                        <div class="client-img">
                            <img src="/zamiux/img/clients/3.jpg" alt="">
                        </div>
                        <div class="info">
                            <h6>بیل گیتس <span>مؤسس مایکروسافت</span></h6>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
