@model Zamiux.Web.ViewModels.Home.SiteHeaderViewModel

<!-- Logo -->
<a class="logo" href="#">
    <img src="@(PathExtension.logoContentOrgin + Model.ContactLogo)" alt="logo">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"><i class="fas fa-bars"></i></span>
</button>
<!-- navbar links -->

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#" data-scroll-nav="0">خانه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="1">درباره ما</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="2">خدمات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="3">نمونه‌کارها</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="5">بلاگ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="6">تماس</a>
        </li>
    </ul>
</div>