@model Zamiux.Web.ViewModels.Home.ContactHomeViewModel

<div class="social">
    @foreach (var social in Model.socials)
    {
        <a href="@social.SocialLink" class="icon">
            <i class="@social.SocialIcon"></i>
        </a>
    }
    
</div>
<p>ارائه شده در وب‌سایت <a href="https://www.mohsenzamani.ir" target="_blank">محسن زمانی</a></p>