@model Zamiux.Web.ViewModels.Home.ContactHomeViewModel

<div class="social">
    @foreach (var social in Model.socials)
    {
        <a target="_blank" href="@social.SocialLink" class="icon">
            <i class="@social.SocialIcon"></i>
        </a>
    }
    
</div>
<p>طراحی شده با <i style="color: #ad0101;" class="fa fa-heart"></i> توسط <a href="https://www.mohsenzamani.ir" target="_blank">محسن زمانی</a></p>