<div class="social">
    <a href="#0" class="icon">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#0" class="icon">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#0" class="icon">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="#0" class="icon">
        <i class="fab fa-telegram"></i>
    </a>
    <a href="#0" class="icon">
        <i class="fab fa-instagram"></i>
    </a>
</div>
<p>ارائه شده در وب‌سایت <a href="https://www.zamiux.com" target="_blank">محسن زمانی</a></p>