<div class="contact-info section-box" data-scroll-index="6">
    <div class="container-fluid">
        <div class="row">
            <!-- Contact Info -->
            <div class="info bg-img bg-center col-md-6" data-overlay-dark="8" data-background="zamiux/img/bg3.jpg">
                <div class="gradient">

                    <div class="item">
                        <span class="icon icon-basic-smartphone"></span>
                        <div class="cont">
                            <h6>تلفن: </h6>
                            <p><span class="ltr_text">+20 010 2517 8918</span></p>
                        </div>
                    </div>

                    <div class="item">
                        <span class="icon icon-basic-geolocalize-05"></span>
                        <div class="cont">
                            <h6>آدرس : </h6>
                            <p>تبریز، خیابان ولیعصر، فلکه بازار</p>
                            <p>جنب بانک ملت، ساختمان گلشن، طبقه 678، واحد 53</p>
                        </div>
                    </div>

                    <div class="item">
                        <span class="icon icon-basic-mail"></span>
                        <div class="cont">
                            <h6>ایمیل : </h6>
                            <p>email@youraddress.com</p>
                            <p>email_support@youraddress.com</p>
                        </div>
                    </div>

                    <div class="social">
                        <a href="#0" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-telegram"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>

                </div>
            </div>

            <!-- The Map -->

            <div class="map col-md-6 bgimg-height-sm">
                <div id="ieatmaps"></div>
            </div>

        </div>
    </div>
</div>
