@{
    ViewData["Title"] = "داشبورد مدیریت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">داشبورد مدیریت</h5>
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">داشبورد مدیریت</h6>

            <div class="row">
                <div class="col-md-4 mg-t-20">
                    <div class="card bd-0">
                        <div class="card-header card-header-default bg-info">
                            <i style="font-size: x-large; margin-left: 10px;" class="icon ion-archive"></i>
                            دانلود رزومه
                        </div><!-- card-header -->
                        <div class="card-body bd bd-t-0" style="text-align: center;background-color: #fafafa91;border: 0px;">
                            <h2 class="mg-b-0">
                                @ViewBag.ResumeCount بار
                            </h2>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col -->
            </div><!-- row -->
        </div>

    </div><!-- am-pagebody -->
</div><!-- am-mainpanel -->
