
@{
    ViewData["Title"] = "داشبورد مدیریت";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">داشبورد مدیریت</h5>
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        

    </div><!-- am-pagebody -->
</div><!-- am-mainpanel -->

