@model Zamiux.Web.ViewModels.Home.ServicesUSViewModel

<section class="services section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>خدمات ما</h4>
                <h6>ویژگی های عالی</h6>
            </div>
            
            @foreach (var service in Model.userServices)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="item mb-md50">
                        <span class="@service.ServiceIcon"></span>
                        <h6>@service.ServiceTitle</h6>
                        <p>@service.ServiceDescription</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>