<div class="numbers section-padding bg-img bg-fixed bg-center" data-scroll-index="2" data-overlay-dark="8" data-background="zamiux/img/bg3.jpg">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon icon-basic-heart"></span>
                    <h3 class="count">368</h3>
                    <h6>مشتریان راضی</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon icon-basic-case"></span>
                    <h3 class="count">937</h3>
                    <h6>پروژه انجام شده</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-sm50">
                    <span class="icon icon-basic-download"></span>
                    <h3 class="count">438</h3>
                    <h6>دریافت فایل</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center">
                    <span class="icon icon-basic-book-pencil"></span>
                    <h3 class="count">5946</h3>
                    <h6>خط کد</h6>
                </div>
            </div>

        </div>
    </div>
</div>