@model Zamiux.Web.ViewModels.Home.SkillViewModel

<section class="section-box" data-scroll-index="1">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 half-content bg-gray">
                <div class="box-white">

                    <div class="section-head text-center col-sm-12">
                        <h4>مهارت های من</h4>
                        <h6>مهارت های حرفه ای</h6>
                    </div>

                    <!-- Skills -->

                    <div class="skills">
                        <div class="row">
                            <div class="col-md-6 mb-sm30">
                                
                                @foreach (var ability_even in Model.Abilities.Where(x => x.AbilityPriority % 2 != 0))
                                {
                                    <div class="skill-item">
                                        <h6>@ability_even.AbilityTitle</h6>
                                        <div class="skill-progress">
                                            <div class="progres" data-value="@ability_even.AbilityPercent%"></div>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                            <div class="col-md-6">
                                @foreach (var ability_odd in Model.Abilities.Where(x => x.AbilityPriority % 2 == 0))
                                {
                                    <div class="skill-item">
                                        <h6>@ability_odd.AbilityTitle</h6>
                                        <div class="skill-progress">
                                            <div class="progres" data-value="@ability_odd.AbilityPercent%"></div>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>