<section class="section-box" data-scroll-index="1">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 half-content bg-gray">
                <div class="box-white">

                    <div class="section-head text-center col-sm-12">
                        <h4>مهارت های من</h4>
                        <h6>مهارت های حرفه ای</h6>
                    </div>

                    <!-- Skills -->

                    <div class="skills">
                        <div class="row">
                            <div class="col-md-6 mb-sm30">
                                <div class="skill-item">
                                    <h6>طراحی وب</h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="90%"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>برندسازی</h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="75%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="skill-item">
                                    <h6>توسعه</h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="80%"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>توسعه</h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="80%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>