<div class="am-sideleft">
    <ul class="nav am-sideleft-tab" style="background-color: #2d3a50;">
        <li class="nav-item">
            <a href="#mainMenu" class="nav-link active"><i class="icon ion-ios-home-outline tx-24"></i></a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="mainMenu" class="tab-pane active">
            <ul class="nav am-sideleft-menu">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link active">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>داشبورد مدیریت</span>
                    </a>
                </li><!-- nav-item -->

                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="icon ion-person"></i>
                        <span>اطلاعات هویتی</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="UserInfo" asp-action="UserContent" class="nav-link">درباره من</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="icon ion-filing"></i>
                        <span>اطلاعات تخصصی</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="UserInfo" asp-action="User_Intro" class="nav-link">تخصص</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="UserInfo" asp-action="User_Ability" class="nav-link">توانمندی</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="fa fa-tasks"></i>
                        <span>خدمات</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="UserService" asp-action="index" class="nav-link">لیست خدمات</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="icon ion-briefcase"></i>
                        <span>پروژه ها</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="work" asp-action="index" class="nav-link">لیست پروژه ها</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="fa fa-cog"></i>
                        <span>تنظیمات</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Home" asp-action="sitesetting" class="nav-link">تنظیمات اصلی سایت</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="icon ion-at"></i>
                        <span>ارتباطات</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="UserInfo" asp-action="User_Social" class="nav-link">شبکه اجتماعی</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Home" asp-action="Contact_Message" class="nav-link">پیام کاربران</a></li>
                    </ul>
                </li>
               
            </ul>
        </div><!-- #mainMenu -->
    </div><!-- tab-content -->
</div><!-- am-sideleft -->
