<div class="am-header">
    <div class="am-header-left">
        <a id="naviconLeft" href="#" class="am-navicon d-none d-lg-flex"><i class="icon ion-navicon-round"></i></a>
        <a id="naviconLeftMobile" href="#" class="am-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
        <a href="/admin" class="am-logo"> مدیریت زمیوس</a>
    </div><!-- am-header-left -->

    <div class="am-header-right">
        <div class="dropdown dropdown-profile">
            <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">
                <img src="/admin/img/img3.jpg" class="wd-32 rounded-circle" alt="">
                <span class="logged-name"><span class="hidden-xs-down">تنظیمات بیشتر</span> <i class="fa fa-angle-down mg-l-3"></i></span>
            </a>
            <div class="dropdown-menu wd-200">
                <ul class="list-unstyled user-profile-nav">
                    <li><a asp-area="Admin" asp-controller="UserInfo" asp-action="UserContent"><i class="icon ion-ios-person-outline"></i> ویرایش پروفایل</a></li>
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="sitesetting"><i class="icon ion-ios-gear-outline"></i> تنظیمات</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="LogOut"><i class="icon ion-power"></i> خروج از سایت</a></li>
                </ul>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
    </div><!-- am-header-right -->
</div><!-- am-header -->