
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.demotem.ir/html/adamandai/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Feb 2019 21:36:48 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rtl Theme">

    <title>قالب مدیریت زمیوس</title>

    <!-- vendor css -->
    <!-- vendor css -->
    <partial name="_AdminHeaderRefrences"></partial>
</head>

<body>


   <partial name="_AdminHeader"></partial>

    <partial name="_AdminSidebar"></partial>
    @RenderBody()

    <partial name="_AdminFooterRefrences"></partial>
    @RenderSection("Scripts",false)

</body>

<!-- Mirrored from www.demotem.ir/html/adamandai/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Feb 2019 21:36:48 GMT -->
</html>
